{
  "DetailedErrors": true,
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "CMI": "Server=YOUR_SERVER\\SQLEXPRESS;Database=CMI;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True"
  }
}
